doctype html
html
  head
    title OTP
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      p {
        color: #555;
        margin: 10px 0;
      }

      .otp {
        font-weight: bold;
        font-size: 24px;
      }

      .footer {
        margin-top: 20px;
        color: #888;
      }

  body
    div.container
      img(src="../assets/WhatsApp Image 2023-04-21 at 11.16.29 AM.jpeg", alt="Company Logo", style="display: block; margin: 0 auto;")
      h1 OTP Email
      p Dear #{email},
      p Your One-Time Password (OTP) is:
      p.otp #{otp}
      p Please use this OTP to verify your account.
      p If you didn't request this OTP, please ignore this email.
      p.footer Regards,
      p.footer Tabbatar Limited
