doctype html
html
  head
    title OTP
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      p {
        color: #555;
        margin: 10px 0;
      }

      .otp {
        font-weight: bold;
        font-size: 24px;
      }

      .footer {
        margin-top: 20px;
        color: #888;
      }

  body
    div.container
      img(src="../assets/logo (1).png", alt="Company Logo", style="display: block; margin:  auto;  ", width='50%')
      p Hello #{email},
      p Welcome to the exciting world of SportsFusion! 🎉 We're thrilled to have you onboard. 
      p Your One-Time Password (OTP) is:
      p.otp #{otp}
      p This OTP is your golden ticket to unlock incredible opportunities and experiences with us
      p Please use this OTP to verify your account.
      p If you didn't request this OTP, please ignore this email.
      p.footer Regards,
      p.footer SportsFusion
        div(style="text-align: center; margin-top: 20px;")
        a(href="https://www.facebook.com/your-facebook-page" style="margin-right: 10px;")
          img(src="facebook-icon.png" alt="Facebook" width="30" height="30")
        a(href="https://twitter.com/your-twitter-page" style="margin-right: 10px;")
          img(src="twitter-icon.png" alt="Twitter" width="30" height="30")
        a(href="https://www.linkedin.com/in/your-linkedin-profile" style="margin-right: 10px;")
          img(src="linkedin-icon.png" alt="LinkedIn" width="30" height="30")
