doctype html
html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    script(src="https://kit.fontawesome.com/02f40f3385.js", crossorigin="anonymous")
    title OTP
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      p {
        color: #555;
        margin: 10px 0;
      }

      .otp {
        font-weight: bold;
        font-size: 24px;
      }

      .footer {
        margin-top: 20px;
        color: #888;
        text-align: center;
      }

  body
    div.container
      img(src='https://twitter.com/sportsfusionhq/photo' style="width:50%") 
      p Hello #{email},
      p Welcome to the exciting world of SportsFusion! 🎉 We're thrilled to have you onboard. 
      p Your One-Time Password (OTP) is:
      p.otp #{otp}
      p This OTP is your golden ticket to unlock incredible opportunities and experiences with us.
      p Please use this OTP to verify your account.
      .footer
        p Regards,
        p SportsFusion
        div(style="margin-top: 20px;")
          a(href="https://t.me/+1rEb93ckA_8zMzJkt.me" style="margin-right: 10px;")
            i.fab.fa-telegram(style="font-size: 30px; color: #0088cc")
          a(href="https://twitter.com/sportsfusionhq" style="margin-right: 10px;")
            i.fab.fa-twitter(style="font-size: 30px; color: #00acee")
